* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.weather-header {
  background-image: linear-gradient(to right, #3360b9, #210b4e);
}

#search-form {
  display: flex;
  flex-direction: column;
}

.form-inline {
  width: 100%;
}

.input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#search-input {
  border-radius: 5px;
  border: 1px solid black;
  padding: 8px;
}

#search-button {
  background-color: #5098e6;
  border-radius: 5px;
  margin-top: 10px;
  color: white;
  font-size: 14px;
}

.citySearch {
  background-color: darkgrey !important;
  border-radius: 5px;
  margin-top: 10px;
}

#today {
  padding: 10px;
  border: 1px solid black;
}

#forecast {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

#forecast-header {
  padding-top: 10px !important;
}

.forecastBlock {
  padding: 5px;
  padding-right: 30px;
  border: 1px solid black;
  background-color: #2d3e50;
  color: white;
  margin-right: 30px;
}

.forecastBlock {
  margin-right: 10px;
}

@media (max-width: 768px) {
  #forecast {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .forecastBlock {
    margin-top: 5px;
    margin-right: 10px;
  }
}
